@import "tailwindcss";

@theme {
  --color-background: #0A0B0D;
  --color-foreground: #E0E0E0;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
